 Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<h1>Nieuwe docent</h1>

<%= render 'form' %>

<%= link_to 'Ga terug', gebruikers_path %>
