<% if !session[:user_id] %>
U heeft niet de juiste bevoegdheid om deze pagina te bekijken
<% else %>
Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<h1>Een nieuw labo aanmaken</h1>

<%= render 'form' %>

<%= link_to 'Ga terug', labos_path %>
<% end %>
